td = donation.title
td = link_to "Показать", donation_path(donation)
td = link_to "Изменить", edit_donation_path(donation)
td = link_to "Удалить", donation_path(donation), data: { confirm: "Вы уверены?" }, method: :delete