@import "bootstrap";

.navbar {
  border-bottom: 1px solid #ebeff3;
  height: 60px;
  line-height: 46px;
  padding: 0;
}

.navbar-brand {
  padding-left: 20px;
  padding-top: 6px;
}

.navbar-light .navbar-brand {
  color: #f15125;
}

.navbar-nav > li.nav-item {
  border-left: 1px solid #ebeff3;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  &:hover {
    background-color: #ebeff3;
  }
}

// min height for main section (for sticky footer) */

main {
  margin-top: 60px;
  min-height: calc(100vh - 173px);
}
