// = require_self


@import 'common';
@import 'bootstrap';
@import 'summernote';
@import 'articles';
@import 'welcome';

.notification {
  background-color: $notification-background-color;
  border: $notification-border-color solid 1px;
  border-radius: 3px;
  height: auto;
  padding: 10px;
  position: absolute;
  right: 17px;
  top: 60px;
  width: auto;
  z-index: 100;
}

main {
  margin: 6em 0 3em;
}

.separator {
  margin: 1.5em 0;
}
