$footer-background-color: #333;
$footer-color: #fff;

$articles-time-color: #999;

$notification-background-color: #F5F5F8;
$notification-border-color: #69696A;

$navbar-background-color: #FFFFFF;
$navbar-border-bottom-color: #EBEFF3;
$navbar-brand-color: #F15125;
$navbar-navitem-color: #EBEFF3;
