$footer-background-color: #333;
$footer-color: #fff;

$articles-time-color: #999;

$notification-background-color: #f5f5f8;
$notification-border-color: #69696a;

$navbar-background-color: #fff;
$navbar-border-bottom-color: #ebeff3;
$navbar-brand-color: #f15125;
$navbar-navitem-color: #ebeff3;
