// Place all the styles related to the Donations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.time_ago {
  font-size: .8em;
  color: #aaa;
}
.activity {
  margin-bottom: .6em;
}
