.cover-image {
  padding-top: 0px;
  height: 93vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: image-url("banner.jpg");
}

.video-section {
  background-color: rgba(71, 71, 71, 0.59);
}

.video-section .buttonBar{display:none;}
.player {font-size: 1px;}

.jumbotron {
  color: #fff;
  background-color: rgba(71, 71, 71, 0.4);
  margin-top: (100vh/6);
  border-radius: 0;
  h1 {
    font-size: 100px;
  }
}

.icon-block {
  i {
    font-size: 70px;
  }
}
.features {
  padding-top: 30px;
}

main {
  min-height: calc(100vh - 173px);
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #333333;
  color: #fff;
}
